body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table#t {
  width: 100%;
  border-collapse: collapse;
}

table#t td,
table#t th {
  border: 1px solid orchid;
  padding: 2px;
}

table#t th {
  text-align: left;
  background: orchid;
}

td.dt,
td.tl {
  width: 5em;
  text-align: center;
}

tr.final td.et {
  font-weight: bold;
}

tr.initial td.st {
  font-weight: bold;
}

.remark {
  opacity: 0.7;
  font-size: 0.9rem;
  padding-left: 1em;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

.vis-item.ferry {
  background: dodgerblue;
}

.vis-item.drive {
  background: lightgray;
}

.vis-item.faded {
  opacity: 0.5;
}

.vis-item.final {
  border-right-width: 5px;
  border-right-color: black;
}
.vis-item.initial {
  border-left-width: 5px;
  border-left-color: black;
}
